{%
  set classes = [
    'clearfix',
  ]
%}
{{ attach_library('classy/view') }}
<article{{ attributes.addClass(classes) }}>
	<div>
	
	
	<a href="{{file_url("ad_desk_ad_placement")}}">Go to Ad Placement/Scheduling</a><br><br>
	
	<p>If this were a link, it would go to the reports page.</p>
	
	

	
	</div>
</article>