<span id="Sundial-node-search">
  <form action="/search/node" method="get" id="search-block-form" accept-charset="UTF-8">
    <input title="Enter the terms you wish to search for." data-drupal-selector="edit-keys"
      type="search" id="edit-keys" name="keys" value="" size="15" maxlength="128" class="form-search">
    <input data-drupal-selector="edit-submit" type="submit" id="edit-submit" value="Go"
      class="button js-form-submit form-submit">
  </form>
</span>
